/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
	#content{width: 100%;}

}

@media only screen and (max-width: 767px) {
	header{
		padding-top: 10px;
		margin-bottom: 20px;
	}
	.title1{
		margin-bottom: 20px;
		font-size: 24px;
	}

	.form_input,
	.btn span{
		font-size: 24px;
	}
	.form{
		margin-bottom: 30px;
	}

	input::-webkit-input-placeholder{
		font-size: 24px;
	  }
	  input::-moz-placeholder{
	  	font-size: 24px;
	  }
	  input:-moz-placeholder{
	  	font-size: 24px;
	  }
	  input:-ms-input-placeholder{
	  	font-size: 24px;
	  }

	  #content{margin-bottom: 25px;}

	  .menu_item{font-size: 16px;}
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 425px) {
	.form_row,
	.btn{
		width: 100%;
	}
	#content{
		padding: 0 20px;
	}
}
@media only screen and (max-width: 400px) {
	.logo a{
		width: 90%;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
	}
	br{display: none;}
}