@import "../css/reset.css";
@import "../css/jquery.arcticmodal.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  /*font-family:Arial, Helvetica, sans-serif;*/
  /*font-family: 'EngraversGothicBT-Regular', sans-serif;*/
  font-family: 'EngraversGothicBT';
  font-weight: normal;
  font-size:16px;
  line-height:;
  color:#fff;
  background: url(../images/bg1.jpg) 50% 0 repeat #000;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color:#;
    outline:none;
    text-decoration:none;
    cursor:pointer;
  }
  a:hover{
    color:#;
    text-decoration:none;
  }

  .btn{
    width: 422px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    padding:0 0 0;
    /*font-size: 38px;*/
    font-style: italic;
    line-height: 1.5;
    color: transparent;
    border: 6px solid transparent;
  
    -moz-border-image: -moz-linear-gradient(left, #e1d7b9 0%, #fefdf2 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #e1d7b9 0%, #fefdf2 100%);
    border-image: linear-gradient(to right, #e1d7b9 0%, #fefdf2 100%);

    border-image-slice: 1;
    
   }

   .btn span{
    font-family: 'EngraversGothicBold';
    padding: 0 5px;
    font-size: 38px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    background: rgba(238,228,182,1);
    background: -moz-linear-gradient(left, rgba(238,228,182,1) 0%, rgba(209,187,133,1) 35%, rgba(237,227,182,1) 65%, rgba(209,187,133,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,228,182,1)), color-stop(35%, rgba(209,187,133,1)), color-stop(65%, rgba(237,227,182,1)), color-stop(100%, rgba(209,187,133,1)));
    background: -webkit-linear-gradient(left, rgba(238,228,182,1) 0%, rgba(209,187,133,1) 35%, rgba(237,227,182,1) 65%, rgba(209,187,133,1) 100%);
    background: -o-linear-gradient(left, rgba(238,228,182,1) 0%, rgba(209,187,133,1) 35%, rgba(237,227,182,1) 65%, rgba(209,187,133,1) 100%);
    background: -ms-linear-gradient(left, rgba(238,228,182,1) 0%, rgba(209,187,133,1) 35%, rgba(237,227,182,1) 65%, rgba(209,187,133,1) 100%);
    background: linear-gradient(to right, rgba(238,228,182,1) 0%, rgba(209,187,133,1) 35%, rgba(237,227,182,1) 65%, rgba(209,187,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee4b6', endColorstr='#d1bb85', GradientType=1 );
     -webkit-background-clip: text;
   }
  .btn:hover span{
    color: #ece5ce;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform:uppercase}
  .f_left {float:left}
  .f_right {float:right}
  .al_left{text-align: left;}
  .al_right {text-align:right}
  .al_center {text-align:center}

  .it{font-style:italic}
  .let{letter-spacing:-1px}

  .full_w{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

  header {
    padding-top: 94px;
    margin-bottom: 80px;
  }
    .logo{}
      .logo a{
        display:block;
        width:330px;
        height:140px;
        margin-left: auto;
        margin-right: auto;
        background:url(../images/logo1.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }


/*=====================> Content ========================*/
#content {
  padding:0px 0px 0px 0px; 
  /*min-height: 500px;*/
  width: 900px;
  margin-left: auto;
  margin: auto;
  margin-bottom: 169px;
}
  .form_row{
    width: 409px;
    margin-left: auto;
    margin-right: auto;
  }
    .form_input{
      width: 100%;
      height: 70px;
      border: none;
      color: #000;
      font-size: 40px;
      font-family: 'EngraversGothicBold';
      background-color: rgba(255, 255, 255, 0.53);
    }

    .menu{
      display: inline-block;
      width: 100%;
    }
      .menu_item{
        display: inline-block;
        margin: 0 10px; 
        font-size: 32px;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.53);
      }
        .menu_link{
          color: rgba(255, 255, 255, 0.53);
        }
        .menu_link:hover {
          color: rgba(255, 255, 255, 1);
        }


  .arcticmodal_container_box{
    background-color: transparent;
  }

/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb80{ margin-bottom: 80px;}
  .mb85{ margin-bottom: 85px;}
  .mb100{ margin-bottom: 100px;}


/*=====================> Lists ========================*/
  .list1{}
  .list1 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list1 a{}

  .list2{}
  .list2 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list2 a{}

  .list3{}
  .list3 li{
    background:url(../images/marker1.png) 0 7px no-repeat;
    padding-left:20px;
  }
  .list3 a{}

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 36px;
    letter-spacing: 1.5px;
    line-height: 0.8;
    background: rgba(225,215,185,1);
    background: -moz-linear-gradient(left, rgba(225,215,185,1) 0%, rgba(225,215,185,1) 15%, rgba(253,249,236,1) 31%, rgba(225,215,185,1) 47%, rgba(253,249,236,1) 61%, rgba(253,249,236,1) 69%, rgba(225,215,185,1) 81%, rgba(225,215,185,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,215,185,1)), color-stop(15%, rgba(225,215,185,1)), color-stop(31%, rgba(253,249,236,1)), color-stop(47%, rgba(225,215,185,1)), color-stop(61%, rgba(253,249,236,1)), color-stop(69%, rgba(253,249,236,1)), color-stop(81%, rgba(225,215,185,1)), color-stop(100%, rgba(225,215,185,1)));
    background: -webkit-linear-gradient(left, rgba(225,215,185,1) 0%, rgba(225,215,185,1) 15%, rgba(253,249,236,1) 31%, rgba(225,215,185,1) 47%, rgba(253,249,236,1) 61%, rgba(253,249,236,1) 69%, rgba(225,215,185,1) 81%, rgba(225,215,185,1) 100%);
    background: -o-linear-gradient(left, rgba(225,215,185,1) 0%, rgba(225,215,185,1) 15%, rgba(253,249,236,1) 31%, rgba(225,215,185,1) 47%, rgba(253,249,236,1) 61%, rgba(253,249,236,1) 69%, rgba(225,215,185,1) 81%, rgba(225,215,185,1) 100%);
    background: -ms-linear-gradient(left, rgba(225,215,185,1) 0%, rgba(225,215,185,1) 15%, rgba(253,249,236,1) 31%, rgba(225,215,185,1) 47%, rgba(253,249,236,1) 61%, rgba(253,249,236,1) 69%, rgba(225,215,185,1) 81%, rgba(225,215,185,1) 100%);
    background: linear-gradient(to right, rgba(225,215,185,1) 0%, rgba(225,215,185,1) 15%, rgba(253,249,236,1) 31%, rgba(225,215,185,1) 47%, rgba(253,249,236,1) 61%, rgba(253,249,236,1) 69%, rgba(225,215,185,1) 81%, rgba(225,215,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1d7b9', endColorstr='#e1d7b9', GradientType=1 );
    -webkit-background-clip: text;
    color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1d7b9', endColorstr='#e1d7b9', GradientType=1 );
  }

  .title2{
    font-size: px;
    line-height: ;
  }


/*================================>> FONTS  <<========================================*/

@font-face {
  font-family: 'EngraversGothicBT';
  src: url('../font/EngraversGothicBT.eot');
  src: url('../font/EngraversGothicBT.ttf') format('truetype'),
       url('../font/EngraversGothicBT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: 'EngraversGothicBold';
    src: url('../font/EngraversGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }




/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    padding:22px 0 30px;
  }

/*------------  PLACEHOLDER  -----------*/

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
   font-family: 'EngraversGothicBold';
   font-size: 40px;
    font-weight: 400;
    color: #000;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
   font-family: 'EngraversGothicBold';
   font-size: 40px;
    font-weight: 400;
    color: #000;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
   font-family: 'EngraversGothicBold';
   font-size: 40px;
    font-weight: 400;
    color: #000;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
   font-family: 'EngraversGothicBold';
   font-size: 40px;
    font-weight: 400;
    color: #000;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  textarea::-webkit-input-placeholder{
      font-family: 'EngraversGothicBold';
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea::-moz-placeholder{
      font-family: 'EngraversGothicBold';
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea:-moz-placeholder{
      font-family: 'EngraversGothicBold';
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }
  textarea:-ms-input-placeholder{
      font-family: 'EngraversGothicBold';
    transition: all 0.5s ease;
    color: #000;
    opacity: 1;
    font-size: 19.5px;
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/

